# PostgreSQL
POSTGRES_DB=unmsm_admission_analytics
POSTGRES_USER=unmsm
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change-me-for-local-development
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://unmsm:change-me@postgres:5432/unmsm_admission_analytics

# React/Vite
VITE_API_BASE_URL=http://localhost:8000/api/v1
